{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href='{% static "style.css" %}'>
</head>

<body>

  <header class="wrapper">
    <h1 class= "home"><a href="">My Blog</a></h1>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <!-- <li class= "user"></li> -->
        <li>
          <form class="logout-link" action="/accounts/logout/" method="POST">
            {% csrf_token %}
            <button type="submit">LogOut</button>
          </form>
        </li>
        <li><a href="/articles/create/" class="highlight">New Article</a></li>
        {% else %}
        <li><a href="/accounts/login/">Log in</a></li>
        <li><a href="/accounts/signup/">Sign Up</a></li>
        {% endif %}
      </ul>

    </nav>


  </header>

  <div class="wrapper">
    {% block content%} {%endblock%}
  </div>
</body>

</html>
