{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href='{% static "style.css" %}'>
</head>
<body>
  <h1>My Blog</h1>
  <nav>
    <ul>
      <li>
        <form class="logout-link" action="/accounts/logout/" method = "POST" >
          {% csrf_token %}
          <button type="submit" >LogOut</button>
        </form>
      </li>
      <li>
        <form class="login-link" action="/accounts/login/">
          <button type="submit" >Log in</button>
        </form>
      </li>
    </ul>
  </nav>
  <div class="wrapper">
    {% block content%}
    {%endblock%}
  </div>
</body>
</html>
